
@{
    ViewBag.Title = "Albums";
}
@section topCSS{

    <link href="~/Asset/css/Albums.css" rel="stylesheet" />
}


<section class="head_area">
    <div class="container-fluid">
        <div class="row">
            <div class="head_img"></div>
            <div class="head_txt">
                <p>See what's new</p>
                <h2>LATEST ALBUMS</h2>
            </div>
        </div>
    </div>
</section>
<div class="container py-5">
    <div class="row">
        <div class="col-12 albums-catelogy">
            <div class="browse-categories">
                <a href="">Browse All</a>
                <a href="">A</a>
                <a href="">B</a>
                <a href="">C</a>
                <a href="">D</a>
                <a href="">E</a>
                <a href="">F</a>
                <a href="">G</a>
                <a href="">H</a>
                <a href="">I</a>
                <a href="">J</a>
                <a href="">K</a>
                <a href="">L</a>
                <a href="">M</a>
                <a href="">N</a>
                <a href="">O</a>
                <a href="">P</a>
                <a href="">Q</a>
                <a href="">R</a>
                <a href="">S</a>
                <a href="">T</a>
                <a href="">U</a>
                <a href="">V</a>
                <a href="">W</a>
                <a href="">X</a>
                <a href="">Y</a>
                <a href="">Z</a>
                <a href="">0-9</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a1.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a2.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a3.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a4.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a5.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a6.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a7.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a8.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a9.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a10.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a11.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
            <div class="single-album">
                <img src="~/Asset/image/a12.jpg" alt="" class="d-block w-100">
            </div>
            <div class="album-txt">
                <a href="">
                    <h5>The Cure</h5>
                </a>
                <p>Second Song</p>
            </div>
        </div>
    </div>
</div>


<div class="onemusic-buy-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="single-album-area">
                    <img src="~/Asset/image/b1.jpg" style="width: 100%" alt="">
                </div>
                <div class="album-info">
                    <a href="">
                        <h5>Garage Band</h5>
                    </a>
                    <p>Radio Station</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="single-album-area">
                    <img src="~/Asset/image/b2.jpg" style="width: 100%" alt="">
                </div>
                <div class="album-info">
                    <a href="">
                        <h5>NOISES</h5>
                    </a>
                    <p>Buble Gum</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="single-album-area">
                    <img src="~/Asset/image/b3.jpg" style="width: 100%" alt="">
                </div>
                <div class="album-info">
                    <a href="">
                        <h5>JESS PARKER</h5>
                    </a>
                    <p>The Album</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="single-album-area">
                    <img src="~/Asset/image/b4.jpg" style="width: 100%" alt="">
                </div>
                <div class="album-info">
                    <a href="">
                        <h5>NOISES</h5>
                    </a>
                    <p>Buble Gum</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="load-more-btn text-center">
                    <a href="" class="onemusic-btn">Load More >></a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="conainer py-5">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-12">
                <img src="https://colorlib.com/preview/theme/onemusic/img/bg-img/add3.gif" class="d-block " alt=""
                     style="width: 100%;">
            </div>
        </div>
    </div>

</div>

<div class="container py-5">
    <div class="row">
        <div class="single-song-area w-100">
            <div class="col-12 d-flex ">
                <div class="song-thumbnail">
                    <img src="~/Asset/image/s1.jpg" alt="" class="d-block w-100*">
                </div>
                <div class="song_play_area ">
                    <div class="song_name">
                        <p class="m-0">01. Main Hit Song</p>
                    </div>
                    <div class="audioplayer">
                        <audio preload="auto" controls style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="audio/dummy-audio.mp3">
                        </audio>
                        <div class="audioplayer_playpause " title=""><a href="#"></a></div>
                        <div class="audioplayer_time audioplayer_time_current my-auto ml-3">00:00</div>
                        <div class="audioplayer_bar my-auto ">
                            <div class="audioplayer_bar_loaded"></div>
                            <div class="audioplayer_bar_played"></div>
                        </div>
                        <div class="audioplayer_time audioplayer_time_duration my-auto">…</div>
                        <div class="audioplayer_volume my-auto ml-1 d-flex">
                            <div class="audioplayer_volume_button" title=""><a href="#"></a></div>
                            <div class="audioplayer_volume_adjust ml-1 ">
                                <div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="single-song-area w-100">
            <div class="col-12 d-flex">
                <div class="song-thumbnail">
                    <img src="~/Asset/image/s2.jpg" alt="">
                </div>
                <div class="song_play_area ">
                    <div class="song_name">
                        <p class="m-0">01. Main Hit Song</p>
                    </div>
                    <div class="audioplayer">
                        <audio preload="auto" controls style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="audio/dummy-audio.mp3">
                        </audio>
                        <div class="audioplayer_playpause " title=""><a href="#"></a></div>
                        <div class="audioplayer_time audioplayer_time_current my-auto ml-3">00:00</div>
                        <div class="audioplayer_bar my-auto ">
                            <div class="audioplayer_bar_loaded"></div>
                            <div class="audioplayer_bar_played"></div>
                        </div>
                        <div class="audioplayer_time audioplayer_time_duration my-auto">…</div>
                        <div class="audioplayer_volume my-auto ml-1 d-flex">
                            <div class="audioplayer_volume_button" title=""><a href="#"></a></div>
                            <div class="audioplayer_volume_adjust ml-1 ">
                                <div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="single-song-area w-100">
            <div class="col-12 d-flex">
                <div class="song-thumbnail">
                    <img src="~/Asset/image/s3.jpg" alt="">
                </div>
                <div class="song_play_area ">
                    <div class="song_name">
                        <p class="m-0">01. Main Hit Song</p>
                    </div>
                    <div class="audioplayer">
                        <audio preload="auto" controls style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="audio/dummy-audio.mp3">
                        </audio>
                        <div class="audioplayer_playpause " title=""><a href="#"></a></div>
                        <div class="audioplayer_time audioplayer_time_current my-auto ml-3">00:00</div>
                        <div class="audioplayer_bar my-auto ">
                            <div class="audioplayer_bar_loaded"></div>
                            <div class="audioplayer_bar_played"></div>
                        </div>
                        <div class="audioplayer_time audioplayer_time_duration my-auto">…</div>
                        <div class="audioplayer_volume my-auto ml-1 d-flex">
                            <div class="audioplayer_volume_button" title=""><a href="#"></a></div>
                            <div class="audioplayer_volume_adjust ml-1 ">
                                <div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="single-song-area w-100">
            <div class="col-12 d-flex">
                <div class="song-thumbnail">
                    <img src="~/Asset/image/s4.jpg" alt="">
                </div>
                <div class="song_play_area ">
                    <div class="song_name">
                        <p class="m-0">01. Main Hit Song</p>
                    </div>
                    <div class="audioplayer">
                        <audio preload="auto" controls style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="audio/dummy-audio.mp3">
                        </audio>
                        <div class="audioplayer_playpause " title=""><a href="#"></a></div>
                        <div class="audioplayer_time audioplayer_time_current my-auto ml-3">00:00</div>
                        <div class="audioplayer_bar my-auto ">
                            <div class="audioplayer_bar_loaded"></div>
                            <div class="audioplayer_bar_played"></div>
                        </div>
                        <div class="audioplayer_time audioplayer_time_duration my-auto">…</div>
                        <div class="audioplayer_volume my-auto ml-1 d-flex">
                            <div class="audioplayer_volume_button" title=""><a href="#"></a></div>
                            <div class="audioplayer_volume_adjust ml-1 ">
                                <div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>