
@{
    ViewBag.Title = "Albums";
}
@section topCSS{

    <link href="~/Asset/css/Albums.css" rel="stylesheet" />
    <link href="~/Asset/css/modal.css" rel="stylesheet" />
}



<section class="head_area">
    <div class="container-fluid">
        <div class="row">
            <div class="head_img"></div>
            <div class="head_txt">
                <p>See what's new</p>
                <h2>LATEST ALBUMS</h2>
            </div>
        </div>
    </div>
</section>
<div class="container category-box">
    <div class="row justify-content-center text-center">
        <nav class="navbar-language navbar-expand-lg  ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">三</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="browse-categories collapse navbar-collapse">
                    <a href="@Url.Action("Albums", "Album", new { lan = "All" }, null)">ALL</a>
                    @foreach (var m in ViewBag.Language)
                    {

                        <a href="@Url.Action("Albums", "Album",new { lan = m.Language_type })">@m.Language_type</a>


                    }
                    @*<form class="form-inline my-2 my-lg-0">*@
                    @*<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">*@
                    @using (Html.BeginForm("Albums", "Album", null, FormMethod.Post, new { @class = "form-horizontal my-2 my-lg-0", role = "form" }))
                    {
                        <input type="text" id="search" name="search" oninput="OnInputSearch(this)">
                        <input type="submit" value="Search" />
                        @*<button class="search-btn  my-2 my-sm-0" type="submit" value="Search"><i class="fas fa-search"></i></button>*@
                    }
                    @*</form>*@

                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container product-area">
    <div class="row">
        @Html.Partial("AlbumPartialView", ViewData["Album"])
    </div>
</div>

<div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="album-modal">
                <div class="row">
                    <div class="col-lg-5">
                        <!--Carousel Wrapper-->
                        <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails"
                             data-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block w-100"
                                         src=""
                                         alt="First slide">
                                </div>
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <div class="col-lg-7">
                        <div class="album-title-box">
                            <h2 class=" product-name">
                                <strong></strong>
                            </h2>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">&times; </button>
                        </div>

                        <!--Accordion wrapper-->
                        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingOne1">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                       aria-controls="collapseOne1">
                                        <h5 class="mb-0">
                           
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        <p></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Accordion wrapper -->
                        <!-- Add to Cart -->
                        <div class="card-body">
                            <div class="text-right">
                                <h4 class="h4-responsive">
                                    <span class="green-text">
                                        <strong>會員價 <span></span></strong>
                                    </span>
                                </h4>
                                <div class="order">
                                    <button class="btn buy-btn" onclick="">訂購</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.Add to Cart -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section endJS{

    <script src="~/Asset/js/modal.js"></script>
    <script src="~/Asset/js/Search.js"></script>

    <script src="~/Asset/js/Album.js"></script>
}