@model IEnumerable<Soulful.Services.AlbumDapperService.AlbumCard>

@foreach (var m in Model)
{
    <div class="col-12 col-sm-4 col-md-3 col-lg-3 single-album-item">
        <div class="single-album" id="@m.Album_id" onclick="show(this)">
            <img src="@m.Pic" alt="" class="d-block w-100">
        </div>
        <div class="album-txt">
            <a href="">
                <h5>@m.Album_Name</h5>
            </a>
            <p>@m.Name</p>
        </div>
    </div>

    
}


