
@{
    ViewBag.Title = "Albums";
}
@section topCSS{

    <link href="~/Asset/css/Albums.css" rel="stylesheet" />
    <link href="~/Asset/css/modal.css" rel="stylesheet" />
}



<section class="head_area">
    <div class="container-fluid">
        <div class="row">
            <div class="head_img"></div>
            <div class="head_txt">
                <p>See what's new</p>
                <h2>LATEST ALBUMS</h2>
            </div>
        </div>
    </div>
</section>
<div class="container py-5">
    <div class="row">
        <div class="col-12 albums-catelogy">
            <div class="browse-categories">
                <button href="">Browse All</button>
                <button href="">Chinese </button>
                <button href="">English</button>
                <button href="">Japan</button>
                <button href="">Korea</button>
                <button href="">Hong Kung</button>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        @Html.Partial("AlbumPartialView")
    </div>
</div>




@*<div class="conainer py-5">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-12">
                <img src="https://colorlib.com/preview/theme/onemusic/img/bg-img/add3.gif" class="d-block " alt=""
                     style="width: 100%;">
            </div>
        </div>
    </div>

</div>*@

@*<div class="container py-5">
    <div class="row">
        <div class="single-song-area w-100">
            <div class="col-12 d-flex ">
                <div class="song-thumbnail">
                    <img src="~/Asset/image/s1.jpg" alt="" class="d-block w-100*">
                </div>
                <div class="song_play_area ">
                    <div class="song_name">
                        <p class="m-0">01. Main Hit Song</p>
                    </div>
                    <div class="audioplayer">
                        <audio preload="auto" controls style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="audio/dummy-audio.mp3">
                        </audio>
                        <div class="audioplayer_playpause " title=""><a href="#"></a></div>
                        <div class="audioplayer_time audioplayer_time_current my-auto ml-3">00:00</div>
                        <div class="audioplayer_bar my-auto ">
                            <div class="audioplayer_bar_loaded"></div>
                            <div class="audioplayer_bar_played"></div>
                        </div>
                        <div class="audioplayer_time audioplayer_time_duration my-auto">…</div>
                        <div class="audioplayer_volume my-auto ml-1 d-flex">
                            <div class="audioplayer_volume_button" title=""><a href="#"></a></div>
                            <div class="audioplayer_volume_adjust ml-1 ">
                                <div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="single-song-area w-100">
            <div class="col-12 d-flex">
                <div class="song-thumbnail">
                    <img src="~/Asset/image/s2.jpg" alt="">
                </div>
                <div class="song_play_area ">
                    <div class="song_name">
                        <p class="m-0">01. Main Hit Song</p>
                    </div>
                    <div class="audioplayer">
                        <audio preload="auto" controls style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="audio/dummy-audio.mp3">
                        </audio>
                        <div class="audioplayer_playpause " title=""><a href="#"></a></div>
                        <div class="audioplayer_time audioplayer_time_current my-auto ml-3">00:00</div>
                        <div class="audioplayer_bar my-auto ">
                            <div class="audioplayer_bar_loaded"></div>
                            <div class="audioplayer_bar_played"></div>
                        </div>
                        <div class="audioplayer_time audioplayer_time_duration my-auto">…</div>
                        <div class="audioplayer_volume my-auto ml-1 d-flex">
                            <div class="audioplayer_volume_button" title=""><a href="#"></a></div>
                            <div class="audioplayer_volume_adjust ml-1 ">
                                <div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="single-song-area w-100">
            <div class="col-12 d-flex">
                <div class="song-thumbnail">
                    <img src="~/Asset/image/s3.jpg" alt="">
                </div>
                <div class="song_play_area ">
                    <div class="song_name">
                        <p class="m-0">01. Main Hit Song</p>
                    </div>
                    <div class="audioplayer">
                        <audio preload="auto" controls style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="audio/dummy-audio.mp3">
                        </audio>
                        <div class="audioplayer_playpause " title=""><a href="#"></a></div>
                        <div class="audioplayer_time audioplayer_time_current my-auto ml-3">00:00</div>
                        <div class="audioplayer_bar my-auto ">
                            <div class="audioplayer_bar_loaded"></div>
                            <div class="audioplayer_bar_played"></div>
                        </div>
                        <div class="audioplayer_time audioplayer_time_duration my-auto">…</div>
                        <div class="audioplayer_volume my-auto ml-1 d-flex">
                            <div class="audioplayer_volume_button" title=""><a href="#"></a></div>
                            <div class="audioplayer_volume_adjust ml-1 ">
                                <div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="single-song-area w-100">
            <div class="col-12 d-flex">
                <div class="song-thumbnail">
                    <img src="~/Asset/image/s4.jpg" alt="">
                </div>
                <div class="song_play_area ">
                    <div class="song_name">
                        <p class="m-0">01. Main Hit Song</p>
                    </div>
                    <div class="audioplayer">
                        <audio preload="auto" controls style="width: 0px; height: 0px; visibility: hidden;">
                            <source src="audio/dummy-audio.mp3">
                        </audio>
                        <div class="audioplayer_playpause " title=""><a href="#"></a></div>
                        <div class="audioplayer_time audioplayer_time_current my-auto ml-3">00:00</div>
                        <div class="audioplayer_bar my-auto ">
                            <div class="audioplayer_bar_loaded"></div>
                            <div class="audioplayer_bar_played"></div>
                        </div>
                        <div class="audioplayer_time audioplayer_time_duration my-auto">…</div>
                        <div class="audioplayer_volume my-auto ml-1 d-flex">
                            <div class="audioplayer_volume_button" title=""><a href="#"></a></div>
                            <div class="audioplayer_volume_adjust ml-1 ">
                                <div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
@section endJS{

    <script src="~/Asset/js/modal.js"></script>
}