
@{
    ViewBag.Title = "排行榜";
}

@section topCSS{
    <link href="~/Asset/css/rank.css" rel="stylesheet" />
}

@section endJS{
    <script src="~/Asset/js/rank.js"></script>
}


<div class="breadcumb-area bg-img bg-overlay">
    <div class="bradcumbContent">
        <p>TOP 10</p>
        <h2>Rank</h2>
    </div>
</div>


<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class=" row">
        <div class="col-12 col-md-3">
            <div class="">
                <div class="time_category_group">
                    <dl class="">
                        <dt class="">時間分類</dt>
                        <dd class="category">
                            <button type="" class="btn btn-secondary">本日</button>
                        </dd>
                        <dd class="category">
                            <button type="" class="btn btn-secondary">本周</button>
                        </dd>
                        <dd class="category">
                            <button type="" class="btn btn-secondary">本月</button>
                        </dd>
                    </dl>
                </div>

                <div class="btn-group">
                    <dl class="song_categories">
                        <dt class="">語言分類</dt>
                        <dd class="category">
                            <button onclick="Chinese()" class="btn btn-secondary">華語</button>
                        </dd>
                        <dd class="category">
                            <button onclick="English()" class="btn btn-secondary">西洋</button>
                        </dd>
                        <dd class="category">
                            <button onclick="Japanese()" class="btn btn-secondary">日語</button>
                        </dd>
                        <dd class="category">
                            <button onclick="Korean()" class="btn btn-secondary">韓語</button>
                        </dd>
                        <dd class="category">
                            <button onclick="Taiwanese()" class="btn btn-secondary">台語</button>
                        </dd>
                        <dd class="category">
                            <button onclick="Cantonese()" class="btn btn-secondary">粵語</button>
                        </dd>
                    </dl>
                </div>
            </div>

            <p id="ranking_Explanation">
                排行榜計算說明：
                <br>
                依據專輯銷售數量前10排行
            </p>
        </div>
        <div class="col-12 col-md-9">
            <ul class="charts_list">
                <li class="charts_list_row_header">
                    <span class="charts_list_rank">排行</span>
                    <span class="charts_list_album_name">專輯資訊</span>
                    <span class="charts_list_content"></span>
                    <span class="charts_list_sales">銷售量</span>
                </li>
                <li class="charts_list_row">
                    <span class="charts_list_rank">1</span>
                    <div class="flipper">
                        <img src="https://i.kfs.io/album/global/72505555,0v1/fit/160x160.jpg" alt=""
                             class="charts_list_cover">
                        <span class="charts_list_desc">
                            <span class="charts_list_song">花に亡霊</span>
                            <span class="charts_list_artist">ヨルシカ</span>
                        </span>
                        <span class="charts_list_sales">123456</span>
                        <span>張</span>
                    </div>
                </li>
                <li class="charts_list_row">
                    <span class="charts_list_rank">2</span>
                    <div class="flipper">
                        <img src="https://i.kfs.io/album/global/72505555,0v1/fit/160x160.jpg" alt=""
                             class="charts_list_cover">
                        <span class="charts_list_desc">
                            <span class="charts_list_song">花に亡霊</span>
                            <span class="charts_list_artist">ヨルシカ</span>
                        </span>
                        <span class="charts_list_sales">123456</span>
                        <span>張</span>
                    </div>
                </li>
                <li class="charts_list_row">
                    <span class="charts_list_rank">3</span>
                    <div class="flipper">
                        <img src="https://i.kfs.io/album/global/72505555,0v1/fit/160x160.jpg" alt=""
                             class="charts_list_cover">
                        <span class="charts_list_desc">
                            <span class="charts_list_song">花に亡霊</span>
                            <span class="charts_list_artist">ヨルシカ</span>
                        </span>
                        <span class="charts_list_sales">123456</span>
                        <span>張</span>
                    </div>
                </li>
                <li class="charts_list_row">
                    <span class="charts_list_rank">4</span>
                    <div class="flipper">
                        <img src="https://i.kfs.io/album/global/72505555,0v1/fit/160x160.jpg" alt=""
                             class="charts_list_cover">
                        <span class="charts_list_desc">
                            <span class="charts_list_song">花に亡霊</span>
                            <span class="charts_list_artist">ヨルシカ</span>
                        </span>
                        <span class="charts_list_sales">123456</span>
                        <span>張</span>
                    </div>
                </li>
                <li class="charts_list_row">
                    <span class="charts_list_rank">5</span>
                    <div class="flipper">
                        <img src="https://i.kfs.io/album/global/72505555,0v1/fit/160x160.jpg" alt=""
                             class="charts_list_cover">
                        <span class="charts_list_desc">
                            <span class="charts_list_song">花に亡霊</span>
                            <span class="charts_list_artist">ヨルシカ</span>
                        </span>
                        <span class="charts_list_sales">123456</span>
                        <span>張</span>
                    </div>
                </li>
                <li class="charts_list_row">
                    <span class="charts_list_rank">6</span>
                    <div class="flipper">
                        <img src="https://i.kfs.io/album/global/72505555,0v1/fit/160x160.jpg" alt=""
                             class="charts_list_cover">
                        <span class="charts_list_desc">
                            <span class="charts_list_song">花に亡霊</span>
                            <span class="charts_list_artist">ヨルシカ</span>
                        </span>
                        <span class="charts_list_sales">123456</span>
                        <span>張</span>
                    </div>
                </li>
                <li class="charts_list_row">
                    <span class="charts_list_rank">7</span>
                    <div class="flipper">
                        <img src="https://i.kfs.io/album/global/72505555,0v1/fit/160x160.jpg" alt=""
                             class="charts_list_cover">
                        <span class="charts_list_desc">
                            <span class="charts_list_song">花に亡霊</span>
                            <span class="charts_list_artist">ヨルシカ</span>
                        </span>
                        <span class="charts_list_sales">123456</span>
                        <span>張</span>
                    </div>
                </li>
                <li class="charts_list_row">
                    <span class="charts_list_rank">8</span>
                    <div class="flipper">
                        <img src="https://i.kfs.io/album/global/72505555,0v1/fit/160x160.jpg" alt=""
                             class="charts_list_cover">
                        <span class="charts_list_desc">
                            <span class="charts_list_song">花に亡霊</span>
                            <span class="charts_list_artist">ヨルシカ</span>
                        </span>
                        <span class="charts_list_sales">123456</span>
                        <span>張</span>
                    </div>
                </li>
                <li class="charts_list_row">
                    <span class="charts_list_rank">9</span>
                    <div class="flipper">
                        <img src="https://i.kfs.io/album/global/72505555,0v1/fit/160x160.jpg" alt=""
                             class="charts_list_cover">
                        <span class="charts_list_desc">
                            <span class="charts_list_song">花に亡霊</span>
                            <span class="charts_list_artist">ヨルシカ</span>
                        </span>
                        <span class="charts_list_sales">123456</span>
                        <span>張</span>
                    </div>
                </li>
                <li class="charts_list_row">
                    <span class="charts_list_rank">10</span>
                    <div class="flipper">
                        <img src="https://i.kfs.io/album/global/72505555,0v1/fit/160x160.jpg" alt=""
                             class="charts_list_cover">
                        <span class="charts_list_desc">
                            <span class="charts_list_song">花に亡霊</span>
                            <span class="charts_list_artist">ヨルシカ</span>
                        </span>
                        <span class="charts_list_sales">123456</span>
                        <span>張</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>