@model IEnumerable<Soulful.ViewModels.EventViewModel>
@foreach (var m in Model)
{
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="event_meta">
            <div class="event_img">
                <img src="~/Asset/image/@m.Pic" />
            </div>
            <div class="event_txt">
                <h4>@m.Name</h4>
                <div class="event_data">
                    <a href="#" class="place">@m.Date</a>
                </div>
                <a href="#" class="see_more_btn">SEE More</a>
            </div>
        </div>
    </div>
}


