
@{
    ViewBag.Title = "Event Page";
}

@section topCSS{
    <link href="~/Asset/css/Events.css" rel="stylesheet" />
}

<section class="head_area">
    <div class="container-fluid">
        <div class="row">
            <div class="head_img"></div>
            <div class="head_txt">
                <p>See what's new</p>
                <h2>EVENTS</h2>
            </div>
        </div>
    </div>
</section>

<section class="event_area">
    <div class="container">
        <div class="row">
            @Html.Partial("EventCardPartialView")
        </div>
    </div>
</section>

<section class="newsletter_area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="newsletter">
                    <div class="txt">
                        <p>See what's new</p>
                        <h2>Subscribe to newsletter</h2>
                    </div>
                    <div class="form">
                        <form action="#">
                            <input type="search" name="search" id="newsletterSearch" placeholder="E-mail">
                            <button type="submit" class="subscribe_btn">Subscribe <i class="fa fa-angle-double-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="testimonials">
                    <div class="test_img"></div>
                    <div class="wrap">
                        <div class="section_heading">
                            <p>See what’s new</p>
                            <h2>Testimonial</h2>
                        </div>
                        <div class="slide">
                            <p class="txt" style="color:white">
                                音樂是生活的調味劑，給高節奏的都市生活平添了些許安寧。快樂的時候，你聽的是音樂。
                                難過的時候，你開始懂得了歌詞。讓我們一起來享受音樂給我們帶來的快樂！輕輕地閉上眼
                                睛，聆聽音樂的律動，紓解胸中沉積不散的鬱悶，掃除心中許久以來的陰霾，身心自在，忘卻
                                憂傷。讓您在浮躁、喧囂的生活中安靜下來。
                            </p>
                            <div class="info">
                                <img src="~/Asset/image/event 10.jpeg" />
                                <span class="name">William Smith, Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section endJS{
    <script src="~/Asset/js/EventModal.js"></script>
}



