
@{
    ViewBag.Title = "Event Page";
}

@section topCSS{
    <link href="~/Assest/css/Events.css" rel="stylesheet" />
}
@section endJS{
    <script src="~/Scripts/bootstrap.bundle.js"></script>
}


<section class="head_area">
    <div class="container-fluid">
        <div class="row">
            <div class="head_img"></div>
            <div class="head_txt">
                <p>See what's new</p>
                <h2>EVENTS</h2>
            </div>
        </div>
    </div>
</section>

<section class="event_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="event_meta">
                    <div class="event_img">
                        <img src="~/Assest/image/event 1.jpeg" />
                    </div>
                    <div class="event_txt">
                        <h4>DJ Night Party</h4>
                        <div class="event_data">
                            <a href="#" class="place">VIP sala &nbsp; | &nbsp; June 15, 2018</a>
                        </div>
                        <a href="#" class="see_more_btn">SEE EVENT</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="event_meta">
                    <div class="event_img">
                        <img src="~/Assest/image/event 2.jpeg" />
                    </div>
                    <div class="event_txt">
                        <h4>DJ Night Party</h4>
                        <div class="event_data">
                            <a href="#" class="place">VIP sala &nbsp; | &nbsp; June 15, 2018</a>
                        </div>
                        <a href="#" class="see_more_btn">SEE EVENT</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="event_meta">
                    <div class="event_img">
                        <img src="~/Assest/image/event 3.jpeg" />
                    </div>
                    <div class="event_txt">
                        <h4>DJ Night Party</h4>
                        <div class="event_data">
                            <a href="#" class="place">VIP sala &nbsp; | &nbsp; June 15, 2018</a>
                        </div>
                        <a href="#" class="see_more_btn">SEE EVENT</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="event_meta">
                    <div class="event_img">
                        <img src="~/Assest/image/event 4.jpeg" />
                    </div>
                    <div class="event_txt">
                        <h4>DJ Night Party</h4>
                        <div class="event_data">
                            <a href="#" class="place">VIP sala &nbsp; | &nbsp; June 15, 2018</a>
                        </div>
                        <a href="#" class="see_more_btn">SEE EVENT</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="event_meta">
                    <div class="event_img">
                        <img src="~/Assest/image/event 5.jpeg" />
                    </div>
                    <div class="event_txt">
                        <h4>DJ Night Party</h4>
                        <div class="event_data">
                            <a href="#" class="place">VIP sala &nbsp; | &nbsp; June 15, 2018</a>
                        </div>
                        <a href="#" class="see_more_btn">SEE EVENT</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="event_meta">
                    <div class="event_img">
                        <img src="~/Assest/image/event 6.jpeg" />
                    </div>
                    <div class="event_txt">
                        <h4>DJ Night Party</h4>
                        <div class="event_data">
                            <a href="#" class="place">VIP sala &nbsp; | &nbsp; June 15, 2018</a>
                        </div>
                        <a href="#" class="see_more_btn">SEE EVENT</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="event_meta">
                    <div class="event_img">
                        <img src="~/Assest/image/event 7.jpeg" />
                    </div>
                    <div class="event_txt">
                        <h4>DJ Night Party</h4>
                        <div class="event_data">
                            <a href="#" class="place">VIP sala &nbsp; | &nbsp; June 15, 2018</a>
                        </div>
                        <a href="#" class="see_more_btn">SEE EVENT</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="event_meta">
                    <div class="event_img">
                        <img src="~/Assest/image/event 8.jpeg" />
                    </div>
                    <div class="event_txt">
                        <h4>DJ Night Party</h4>
                        <div class="event_data">
                            <a href="#" class="place">VIP sala &nbsp; | &nbsp; June 15, 2018</a>
                        </div>
                        <a href="#" class="see_more_btn">SEE EVENT</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="event_meta">
                    <div class="event_img">
                        <img src="~/Assest/image/event 9.jpeg" />
                    </div>
                    <div class="event_txt">
                        <h4>DJ Night Party</h4>
                        <div class="event_data">
                            <a href="#" class="place">VIP sala &nbsp; | &nbsp; June 15, 2018</a>
                        </div>
                        <a href="#" class="see_more_btn">SEE EVENT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="load_more_btn text-center">
                    <a href="#" class="btn">
                        Load More
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="newsletter_area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="newsletter">
                    <div class="txt">
                        <p>See what's new</p>
                        <h2>Subscribe to newsletter</h2>
                    </div>
                    <div class="form">
                        <form action="#">
                            <input type="search" name="search" id="newsletterSearch" placeholder="E-mail">
                            <button type="submit" class="subscribe_btn">Subscribe <i class="fa fa-angle-double-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="testimonials">
                    <div class="test_img"></div>
                    <div class="wrap">
                        <div class="section_heading">
                            <p>See what’s new</p>
                            <h2>Testimonial</h2>
                        </div>
                        <div class="slide">
                            <p class="txt">Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum.</p>
                            <div class="info">
                                <img src="~/Assest/image/event 10.jpeg" />
                                <span class="name">William Smith, Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



