@media screen and (max-width: 767px) {
    .pic {
        position: relative;
        z-index: 10;
        height: 0;
        background-image: url("../image/z.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 300px
    }
}

@media screen and (min-width: 768px) {
    .pic {
        position: relative;
        z-index: 10;
        height: 0;
        background-image: url("../image/z.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 300px
    }
}

.block {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.bradcumb-content {
    width: 35%;
    text-align: center;
    margin: auto;
    background-color: #fff;
    padding-top: 40px;
}

.map ul {
    width: 250px;
    text-align: center;
    margin: auto;
}

.map i {
    margin: 5px;
}

.map .list-group-item {
    display: flex;
}

.map {
    margin-top: 100px;
}


.form-group .form-name {
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
}

.form-group .form-email {
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
}

.form-group .form-subject {
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
}

.form-message input {
    height: 160px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
}

.send-btn {
    min-width: 212px;
    height: 49px;
    border-color: #fff;
    color: #000;
    background-color: transparent;
    border: #000 solid 1px;
}

    .send-btn:hover {
        background-color: #000;
        color: #fff;
        transition-duration: 500ms;
    }



::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #343a40;
}

.pic {
    position: relative;
}

    .pic div {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

iframe {
    width: 100%;
    height: 100%;
}

.section-heading {
    text-align: center;
}

.contact-area {
    background-image: none;
}
