@media screen and (max-width: 767px) {
    .head_area {
        position: relative;
        background-image: url('../image/login_bg.jpg');
        z-index: 10;
        padding-bottom: 270px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head_txt {
        width: calc(100% - 60px);
    }
}

@media screen and (min-width: 768px) {
    .head_area {
        position: relative;
        background-image: url('../image/login_bg.jpg');
        z-index: 10;
        padding-bottom: 385px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head_txt {
        width: 552px;
    }
}
.head_img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.head_area .head_txt{
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 100;
    text-align: center;
    transform: translateX(-50%);
    padding-top: 40px;
}

*{
    list-style: none;
    padding: 0;
    margin: 0;
}

.browse-categories{
    text-align: center;
}
.browse-categories a{
    color:black;
    display:flex;
    margin:0px 10px;
    justify-content:center;
    display:inline-block;
    font-size:20px;
}

.album-info a {
    color: #000;
}

.load-more-btn a:hover{
   background-color: #000;
   color: #fff;
}
.load-more-btn a{
    
    background-color: #fff;
 text-decoration: none;
    display: inline-block;
    min-width: 212px;
    height: 49px;
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 47px;
    font-weight: 700;
    text-transform: capitalize;;
    display: inline-block;
    text-align: center;
}
.song_play_area {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #262626;
    padding: 25px 20px 25px;
    border: 1px solid #363636;
}

.audioplayer {
    display: flex;
    flex-direction: row;
}

.audioplayer_playpause {
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.audioplayer_playpause a {
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 7px solid transparent;
    border-right: none;
    border-bottom: 7px solid transparent;
    border-left: 12px solid #0059ff;
}

.audioplayer_time {
    color: #fff;
}


.audioplayer_bar {
    position: relative;
    display: flex;
    margin: 0 12px;
    height: 12px;
    flex-basis: 0;
    flex-grow: 1;
    cursor: pointer;
}

.audioplayer_bar::before {
    content: '';
    position: absolute;
    top: 5px;
    width: 100%;
    height: 2px;
    background-color: #dde2e6;
}

.audioplayer_bar>div {
    position: absolute;
    left: 0;
    top: 5px;
}

.audioplayer_bar_loaded {
    z-index: 1;
    height: 2px;
    background: #bec8d2;
}

.audioplayer_volume_button {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.audioplayer_volume_button a {
    display: flex;
    width: 6px;
    height: 8px;
    background-color: #9a9fb0;
    position: relative;
}

.audioplayer_volume_button a:before {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 9px solid #9a9fb0;
    border-bottom: 8px solid transparent;
    border-left: none;
    top: -4px;
}

.audioplayer_volume_button a:before,
.audioplayer_volume_button a:after {
    content: '';
    position: absolute;
}

.audioplayer:not(.audioplayer_mute) .audioplayer_volume_button a:after {
    left: 10px;
    top: 0;
    width: 6px;
    height: 6px;
    border: 6px double #9a9fb0;
    border-width: 6px 6px 0 0;
    border-radius: 0 12px 0 0;
    transform: rotate(45deg);
}

.audioplayer_volume_adjust {
    display: flex;
    align-items: center;
}

.audioplayer_volume_adjust>div {
    position: relative;
    display: flex;
    width: 60px;
    height: 2px;
    cursor: pointer;
    background-color: #bec8d2;
}

.audioplayer_volume_adjust div div {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 2px;
    background-color: #0059ff;
}
.song-thumbnail img{
    width: 100%;
   
}

/* 
.contact-area::after {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
} */



.section-heading {
    text-align: center;
    color: #fff;
}

.form-group .form-name {
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;

}

.form-group .form-email {
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;

}

.form-group .form-subject {
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;

}


.form-message input {
    height: 160px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;

}

.send-btn {
    min-width: 212px;
    height: 49px;
    border-color: #fff;
    color: #fff;
    background-color: transparent;
    border: #fff solid 1px;
}

.send-btn:hover {
    background-color: #fff;
    color: black;
    transition-duration: 500ms;
}

.foot-layout {
    background-color: black;

}

.foot-ul a {
    text-decoration: none;
    color: #898888;
    padding: 0px 8px;

}

.foot-ul a:hover {
    color: #fff;
}

.foot-ul li {
    list-style: none;

}

.foot-ul {
    display: flex;

    justify-content: flex-end;


}



.foot-txt {
    color: rgba(166, 165, 165, 0.54);
    font-size: 12px;
}

.foot-title {
    color: #fff;
}


.foot-nav-box {
    display: flex;
    align-items: center;
}

@media screen and (max-width:425px) {
    .foot-ul{
        padding: 0;
    }
    .foot-ul a {
        text-decoration: none;
        color: #898888;
        padding: 0px 3px;

    }
}
.album-txt {
    text-align: center;
    margin-top: 5px;
}
    .album-txt h5 {
        color: #000;
        font-weight: bolder;
        font-family: Microsoft JhengHei;
    }
    .album-txt p {
        color: #363636;
        font-family: Microsoft JhengHei;
    }
    .album-txt a {
        text-decoration: none;
    }
.single-album img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform .9s ease;
    
}
.browse-categories button{
    border:none;
    margin:0px 15px;
    background:black;
    color:white;
    
}

.product-area {
    
    
    margin-top: 100px;
    margin-bottom: 200px;
   
}
.category-box{
    margin-top:100px;
}
.navbar-language {
    background-color: #6d4c41;
    
}