@media screen and (max-width: 767px) {
    .pic {
        position: relative;
        background-image: url('../image/z.png');
        z-index: 10;
        padding-bottom: 270px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 768px) {
    .pic {
        position: relative;
        background-image: url('../image/z.png');
        z-index: 10;
        padding-bottom: 385px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

body {
    /*background-color: #e3ded5;*/
}

.block {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.bradcumb-content {
    width: 35%;
    text-align: center;
    margin: auto;
    background-color: #fff;
    padding-top: 40px;
}

.pic {
    position: relative;
}

    .pic div {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

.container {
    margin: auto;
    padding: 20px;
}


.buy-program {
    display: flex;
    justify-content: space-around
}

.alert {
    margin: 5px;
    border: #7f6649 solid 3px;
    font-weight: bolder;
    font-size: larger;
}

.money {
    text-align: center;
    font-weight: bold;
    font-size: large;
}


.statistics {
    display: flex;
    justify-content: center;
}

.col-12 button {
    text-align: center;
}

.table-box {
    border: 2px solid #944242;
    width: 100%;
}

.thead-box th {
    border: 3px solid #7f6649;
    /*background-color: white;*/
    background-color: #e3ded5;
    color: #7f6649;
    text-align: center;
}

.tbody-tr td {
    border: 3px solid #7f6649;
    background-color: white;
    color: #7f6649;
    text-align: center;
}

.btn-keep-buy {
    border: 2px solid rgb(44, 54, 110);
    color: rgb(44, 54, 110);
    font-weight: bolder;
    justify-content: space-around;
}

.btn-secondary:hover {
    background-color: black;
    font-weight: bolder;
}

.btn-keep-buy:hover {
    background: -webkit-linear-gradient(left, rgb(44, 54, 110), #bf2fcb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-secondary:hover {
    background-color: black;
    font-weight: bolder;
}



.buy-program-box {
    margin-bottom: 50px;
}

.confirm {
    margin-top: 100px;
    margin-bottom: 100px;
}

.delete-btn {
    border: none;
}

.buy-program {
    text-align: center;
}

.thead-box {
    font-size: larger;
    font-weight: bolder;
}

.total {
    font-size: larger;
    font-weight: bolder;
}
