@media screen and (max-width: 767px) {
    .pic {
        position: relative;
        background-image: url('../image/z.png');
        z-index: 10;
        padding-bottom: 270px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 768px) {
    .pic {
        position: relative;
        background-image: url('../image/z.png');
        z-index: 10;
        padding-bottom: 385px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.block {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.bradcumb-content {
    width: 35%;
    text-align: center;
    margin: auto;
    background-color: #fff;
    padding-top: 40px;
}
.pic {
    position: relative;
}

    .pic div {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

.container {
    margin: auto;
    padding: 20px;
}


.buy-program {
    display: flex;
    justify-content: space-around
}

.alert {
    margin: 5px;
    border: #6666 solid 1px;
}


.statistics {
    display: flex;
    justify-content: center;
}


.table-box {
    border: 2px solid #7a7979;
    width: 100%;
}

.thead-box th {
    border: 2px solid #999999;
    background-color: #7a7979;
    color: white;
    text-align:center;
}

.tbody-tr td {
    border: 2px solid #7a7979;
    text-align:center;
}

.btn-keep-buy {
    background-color: #aa7968;
    font-weight: bolder;
    justify-content: space-around;

}
.btn-secondary {
    font-weight: bolder;
}
.btn-keep-buy:hover {
    background-color: #000;
    color: #fff;
    font-weight: bolder;
}

.btn-secondary:hover {
    background-color: black;
    font-weight: bolder;
}



.buy-program-box {
    margin-bottom: 50px;
}

.confirm {
    margin-top: 100px;
    margin-bottom: 100px;
}
.delete-btn{
    border:none;
}
.buy-program
{
    text-align:center;
  
}
.alert{
    font-size:larger;
    font-weight:bolder;
}
.thead-box {
    font-size: larger;
    font-weight: bolder;
}
.total {
    font-size: larger;
    font-weight: bolder;
}
