.header-area {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

    .header-area a {
        color: #fff;
    }

.nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

    .nav-item:nth-child(6) {
        padding-left: 3rem;
        padding-right: 1rem;
    }
    .nav-item:nth-child(7) {
        padding-left: 1rem;
        padding-right: 3rem;
    }

    .nav-item a {
        display: block;
        padding: 0.5em 0;
    }


.navbar-toggler-icon div {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}


@media screen and (max-width:992px) {
    .header-area {
        background-color: #000000;
        position: sticky;
    }

    .navbar-toggler {
        padding: .01rem .5rem .5rem .2rem;
    }

    .nav-item:nth-child(n) {
        padding-left: 0;
        padding-right: 0;
    }


        .nav-item a {
            display: block;
            padding: 0.5em 0;
        }
}
