.header-area {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

    .header-area a {
        color: #fff;
    }

.nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

    .nav-item:nth-child(5) {
        padding-left: 3rem;
        padding-right: 1rem;
    }

    .nav-item:nth-child(6) {
        padding-left: 1rem;
        padding-right: 3rem;
    }


    .nav-item:nth-child(7) {
        display: flex;
        align-self: center;
    }

.btn_cart {
    margin-bottom: 0;
}

    .btn_cart i {
        color: #ffffff;
        display: block;
        text-decoration: none;
        outline: 0 solid transparent;
        font-size: 18px;
        cursor: pointer;
    }

        .btn_cart i:hover,
        .btn_cart i:focus {
            transition-duration: 500ms;
            text-decoration: none;
            outline: 0 solid transparent;
            color: #f60926;
        }

#cart_control {
    position: absolute;
    top: -100px;
}

.navbar-nav .nav-item .cart {
    display: none;
}

@keyframes right_to_left {
    0% {
        opacity: 0;
        right: -30%;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

.navbar-nav .nav-item input:checked ~ .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: right_to_left;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 2s;
}


.navbar-nav .nav-item .cart {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background-color: white;
    border: 2px double #808080;
    box-sizing: border-box;
}



.nav-item a {
    display: block;
    padding: 0.5em 0;
}


.navbar-toggler-icon div {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}

a.btn_cart_product {
    background-color: #000000;
    position: relative;
    z-index: 1;
    min-width: 212px;
    height: 49px;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 47px;
    cursor: pointer;
    text-align: center;
}

    a.btn_cart_product:hover {
        background-color: #000000;
        color: #f60926;
    }


.cart .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width:992px) {
    .header-area .navbar {
        flex-direction: row-reverse;
    }

    .header-area {
        background-color: #000000;
        position: sticky;
    }

    .navbar-toggler {
        padding: .01rem .5rem .5rem .2rem;
    }

    .nav-item:nth-child(n) {
        padding-left: 0;
        padding-right: 0;
    }


    .nav-item a, .nav-item i {
        display: block;
        padding: 0.5em 0;
    }

    .nav-item:nth-child(7) {
        align-self: unset;
    }

    @keyframes right_to_left {
        0% {
            opacity: 0;
            right: -50%;
        }

        100% {
            opacity: 1;
            right: 0;
        }
    }

    .navbar-nav .nav-item .cart {
        width: 50%;
    }
}
