.form-horizontal {
    margin: auto;
}

#loginForm {
    margin: auto;
}

.form-check {
    display: flex;
    justify-content: space-between;
}

    .form-check button {
        border-radius: 100px;
        background-color: white;
        color: black;
        border: #6666 solid 1px;
    }

.from-forget {
    padding-bottom: 30px;
    border-bottom: rgb(218, 218, 218) solid 1px;
}

.registered {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}


.btn-secondary {
    margin: 10px;
    background-color: white;
    color: black;
    border-radius: 100px;
    border: #6666 solid 1px;
}

    .btn-secondary:hover {
        background-color: black;
        color: white;
    }



@media screen and (max-width: 767px) {
    .head_area {
        position: relative;
        background-image: url('../image/event 11.jpeg');
        z-index: 10;
        padding-bottom: 270px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head_txt {
        width: calc(100% - 60px);
    }
}

@media screen and (min-width: 768px) {
    .head_area {
        position: relative;
        background-image: url('../image/event 11.jpeg');
        z-index: 10;
        padding-bottom: 385px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head_txt {
        width: 552px;
    }
}

.head_img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.head_area .head_txt {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 100;
    text-align: center;
    transform: translateX(-50%);
    padding-top: 40px;
}

.head_area p {
    margin-bottom: 16px;
}
.change-password {
  
    margin: auto;
}
.change-password-box{
  margin-bottom: 100px;
    margin-top: 100px;
}
.dl-horizontal {
    text-align: center;
    font-size:larger;
}
.dl-horizontal a{
    font-size:25px;
}
#socialLoginForm:hover{
    background-color:#000;
}
