@model Soulful.Models.ViewModel.AlbumCard

<div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item">
    <div class="single-album" data-toggle="modal" data-target="#modalQuickView">
        <img src="~/Asset/image/@Model.AlbumPhoto" alt="" class="d-block w-100">
    </div>
    <div class="album-txt">
        <a href="">
            <h5>The Cure</h5>
        </a>
        <p>Second Song</p>
    </div>
</div>