<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="event_meta">
        <div class="event_img">
            <img src="~/Asset/image/event 1.jpeg" />
        </div>
        <div class="event_txt">
            <h4>DJ Night Party</h4>
            <div class="event_data">
                <a href="#" class="place">VIP sala &nbsp; | &nbsp; June 15, 2018</a>
            </div>
            <a href="#" class="see_more_btn">See More</a>
        </div>
    </div>
</div>
