<div class="col-12 col-lg-6">
    <div class="newsletter">
        <div class="txt">
            <p>See what's new</p>
            <h2>Subscribe to newsletter</h2>
        </div>
        <div class="form">
            <form action="#">
                <input type="search" name="search" id="newsletterSearch" placeholder="E-mail">
                <button type="submit" class="subscribe_btn">Subscribe <i class="fa fa-angle-double-right"></i></button>
            </form>
        </div>
    </div>
</div>
