
@{
    var currentCart = (List<Soulful.ViewModels.CartViewModel>)Session["Cart"];
}
<a href="#" type="button" class="nav-link" data-toggle="modal" data-target="#modalPoll-1" style="background-color:transparent">
    Cart(@Session["CartItemCount"])
</a>

<div class="modal fade right " id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info ml-auto mr-0 mt-5 border-0" role="document" style="max-height:80%">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">
                    購物車
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body ">
                @if (Session["Cart"] == null)
                {
                    <p>請先添加商品</p>
                }
                else
                {

                    foreach (var m in currentCart)
                    {
                        <div class="main " style="box-sizing:border-box;">
                            <div class="first d-flex ">
                                <div class="left w-50 p-3 ">
                                    <img src="~/Asset/image/@m.Pic" style="width:100%" />
                                </div>
                                <div class="right w-50 p-3">
                                    <p>@m.Name</p>
                                    <p>@m.Price</p>
                                    <div class="product d-flex  ">
                                        <button id="reduce_@m.Id" type="button" class="btn btn-dark minus" onclick="reduce(this)">-</button>

                                        <input  id="count" type="text" class="w-25" value="1"/>

                                        <button id="add_@m.Id" type="button" class="btn btn-dark add" onclick="add()">+</button>

                                        <button id="remove_one" type="button" class="btn btn-dark ml-3" onclick="remove(this)">移除</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                <!--Basic textarea-->
                <div class="md-form">
                    <label for="form79textarea">備註</label>
                    <textarea type="text" id="formtextarea" class="md-textarea form-control" rows="3"></textarea>
                </div>
                <div class="total">
                    <p>總金額:</p>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a href="/Pay/PayView" id="checkout" type="button" class="btn btn-dark waves-effect">前往結帳</a>
                </div>
            </div>
        </div>
    </div>
</div>
