

@foreach (var m in (List<Soulful.ViewModels.AlbumViewModel>)ViewData["Language"])
{
    <div class="col-12 albums-catelogy">
        <div class="browse-categories">
            <button href="">@m.Language</button>
          
        </div>
    </div>
}
