@model IEnumerable<Soulful.ViewModels.AlbumViewModel>

@foreach (var m in Model)
{
    <div class="col-12 albums-catelogy">
        <div class="browse-categories">
            <button href="">@m.Language</button>
          
        </div>
    </div>
}
