@foreach (var m in Model)
{
    <div class="left_area col-12 col-md-9">
        <div class="card" style="width: 100%;">
            <img src="~/Asset/image/" class="card-img-top" alt="...">
            <div class="post_date">
                <span><strong>15</strong> </span>
                <span>June′18</span>
            </div>
            <div class="card_body ">
                <div class="card_content">
                    <a id="title" href="#">5 Festivals you shouldn't miss this summer</a>
                    <div class="blog_meta">
                        <p class="author">
                            BY
                            <a href="#">Admin</a>
                            IN
                            <a href="#">Events</a>
                            <a href="#">2 Comments</a>
                        </p>
                    </div>

                    <p class="card_text">
                        Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus mollis
                        metus
                        sem, ac sodales dui lobortis. Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus
                        mollis metus sem, ac sodales dui lobortis.
                    </p>
                    <div class="readmore_button_div">
                        <button class="readmore_button" id="readmore_button1" data-toggle="modal" data-target="#modalQuickView">Read more...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 }