
@{
    ViewBag.Title = "ConfirmOrderView";
}
@section topCSS{
    <link href="~/Asset/css/Cheack.css" rel="stylesheet" />
}

<section class="pic">
    <div class="block"></div>
    <div class="bradcumb-content">
        <p>I Like It</p>
        <h4>ConfirmOrder</h4>
    </div>
</section>
<div class="confirm">
    <div class="container buy-program-box ">
        <div class="row">
            <div class="col-12 buy-program">
                <div class="alert alert-dark" style="width: 550px;" role="alert">
                    確認購物清單 <i class="fas fa-arrow-circle-right"></i>
                </div>
                <div class="alert alert-light" style="width: 550px;" role="alert">
                    選擇付款方式 <i class="fas fa-cart-arrow-down"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 statistics">
                <table class="table-box">
                    <tbody>
                    <thead class="thead-box">
                    <th>商品</th>
                    <th>數量</th>
                    <th>單價</th>
                    <th>刪除</th>
                    </thead>
                    <tr class="tbody-tr">
                        <td><img src="https://fakeimg.pl/100/"></td>
                        <td>1</td>
                        <td>100</td>
                        <td><i class="fas fa-trash-alt"></i></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="container">
            <div class="col-12 money">小計金額</div>
            <div class="col-12 money">$200</div>
            <div class="btn-box">
                <button type="button" class="btn btn-keep-buy">繼續購物</button>
                <button type="button" class="btn btn-secondary">下一步</button>
            </div>
        </div>
    </div>
</div>