@{
    ViewBag.Title = "重設密碼確認";
}

@section topCSS{

    <link href="~/Asset/css/Register.css" rel="stylesheet" />
}


<section class="head_area">
    <div class="container-fluid">
        <div class="row">
            <div class="head_img"></div>
            <div class="head_txt">
                <p>See what's new</p>
                <h2>Register</h2>
            </div>
        </div>
    </div>
</section>
<div class="container form-box">
    <div class="row">
        <div class="reset-password">
            <h3>您的密碼已重設。</h3>
            <h2>請 @Html.ActionLink("按一下這裡登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h2>
        </div>
    </div>
</div>