
@{
    ViewBag.Title = "Index";
}

@section topCSS
{
    <link href="~/Assest/css/News.css" rel="stylesheet" />
}

@section endJS{
    <script src="~/Assest/js/navbar.js"></script>
    <script src="~/Assest/js/New.js"></script>

}

<section class="breadcumb_area bg-img bg-overlay">
    <div class="breadcumb_content">
        <p>See what's new</p>
        <h4><strong>NEWS</strong></h4>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="left_area col-12 col-md-9">
            <div class="card" style="width: 100%;">
                <img src="~/Assest/image/blog1.jpg" class="card-img-top" alt="...">
                <div class="post_date">
                    <span><strong>15</strong> </span>
                    <span>June′18</span>
                </div>
                <div class="card_body ">
                    <div class="card_content">
                        <a id="title" href="#">5 Festivals you shouldn't miss this summer</a>
                        <div class="blog_meta">
                            <p class="author">
                                BY
                                <a href="#">Admin</a>
                                IN
                                <a href="#">Events</a>
                                <a href="#">2 Comments</a>
                            </p>
                        </div>

                        <p class="card_text">
                            Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus mollis
                            metus
                            sem, ac sodales dui lobortis. Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus
                            mollis metus sem, ac sodales dui lobortis.
                        </p>
                        <div class="readmore_button_div">
                            <button class="readmore_button" id="readmore_button1">Read more...</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 100%;">
                <img src="~/Assest/image/blog2.jpg" class="card-img-top" alt="...">
                <div class="post_date">
                    <span><strong>15</strong> </span>
                    <span>June′18</span>
                </div>
                <div class="card_body">
                    <div class="card_content">
                        <a id="title" href="#">5 Festivals you shouldn't miss this summer</a>
                        <p class="author">
                            BY
                            <a href="#">Admin</a>
                            IN
                            <a href="#">Events</a>
                            <a href="#">2 Comments</a>
                        </p>
                        <p class="card_text">
                            Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus mollis
                            metus
                            sem, ac sodales dui lobortis. Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus
                            mollis metus sem, ac sodales dui lobortis.
                        </p>
                        <div class="readmore_button_div">
                            <button class="readmore_button" id="readmore_button2">Read more...</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 100%;">
                <img src="~/Assest/image/blog3.jpg" class="card-img-top" alt="...">
                <div class="post_date">
                    <span><strong>15</strong></span>
                    <span>June′18</span>
                </div>
                <div class="card_body">
                    <div class="card_content">
                        <a id="title" href="#">5 Festivals you shouldn't miss this summer</a>
                        <p class="author">
                            BY
                            <a href="#">Admin</a>
                            IN
                            <a href="#">Events</a>
                            <a href="#">2 Comments</a>
                        </p>
                        <p class="card_text">
                            Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus mollis
                            metus
                            sem, ac sodales dui lobortis. Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus
                            mollis metus sem, ac sodales dui lobortis.
                        </p>
                        <div class="readmore_button_div">
                            <button class="readmore_button" id="readmore_button3">Read more...</button>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="nav">
                <ul class="pagination">
                    <li class="page_item active">
                        <a class="page_link " href="#">01</a>
                    </li>
                    <li class="page_item">
                        <a class="page_link " href="#">02</a>
                    </li>
                    <li class="page_item">
                        <a class="page_link" href="#">03</a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="right_area col-12 col-md-3">
            <div class="sider_area ">
                <div class="single_area">
                    <h5><strong>Categories</strong></h5>
                    <div class="single_content">
                        <ul>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Events&Press</a></li>
                            <li><a href="#">Festivals</a></li>
                            <li><a href="#">Lyfestyle</a></li>
                            <li><a href="#">Uncategorized</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sider_area ">
                <div class="single_area">
                    <h5><strong>Archive</strong></h5>
                    <div class="single_content">
                        <ul>
                            <li><a href="#">February 2018</a></li>
                            <li><a href="#">March 2018</a></li>
                            <li><a href="#">April 2018</a></li>
                            <li><a href="#">May 2018</a></li>
                            <li><a href="#">June 2018</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sider_area ">
                <div class="single_area">
                    <h5><strong>Tags</strong></h5>
                    <div class="single_content">
                        <ul class="tags">
                            <li><a href="#">music</a></li>
                            <li><a href="#">events</a></li>
                            <li><a href="#">artists</a></li>
                            <li><a href="#">press</a></li>
                            <li><a href="#">mp3</a></li>
                            <li><a href="#">videos</a></li>
                            <li><a href="#">concerts</a></li>
                            <li><a href="#">performers</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="play_video">
                <a href="#">
                    <img src="~/Assest/image/add1.gif" alt="">
                </a>
            </div>
            <div class="play_video">
                <a href="#">
                    <img src="~/Assest/image/add2.gif" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newsModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="news_description"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


