
@{
    ViewBag.Title = "Index";
}

@section topCSS
{
    <link href="~/Asset/css/News.css" rel="stylesheet" />
}

@section endJS{
    <script src="~/Asset/js/New.js"></script>
}

<section class="breadcumb_area bg-img bg-overlay">
    <div class="breadcumb_content">
        <p>See what's new</p>
        <h4><strong>NEWS</strong></h4>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="left_area col-12 col-md-9">
            
            @Html.Partial("NewsPartialView")

            <nav class="nav">
                <ul class="pagination">
                    <li class="page_item active">
                        <a class="page_link " href="#">01</a>
                    </li>
                    <li class="page_item">
                        <a class="page_link " href="#">02</a>
                    </li>
                    <li class="page_item">
                        <a class="page_link" href="#">03</a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="right_area col-12 col-md-3">
            <div class="sider_area ">
                <div class="single_area">
                    <h5><strong>Categories</strong></h5>
                    <div class="single_content">
                        <ul>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Events&Press</a></li>
                            <li><a href="#">Festivals</a></li>
                            <li><a href="#">Lyfestyle</a></li>
                            <li><a href="#">Uncategorized</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sider_area ">
                <div class="single_area">
                    <h5><strong>Archive</strong></h5>
                    <div class="single_content">
                        <ul>
                            <li><a href="#">February 2018</a></li>
                            <li><a href="#">March 2018</a></li>
                            <li><a href="#">April 2018</a></li>
                            <li><a href="#">May 2018</a></li>
                            <li><a href="#">June 2018</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sider_area ">
                <div class="single_area">
                    <h5><strong>Tags</strong></h5>
                    <div class="single_content">
                        <ul class="tags">
                            <li><a href="#">music</a></li>
                            <li><a href="#">events</a></li>
                            <li><a href="#">artists</a></li>
                            <li><a href="#">press</a></li>
                            <li><a href="#">mp3</a></li>
                            <li><a href="#">videos</a></li>
                            <li><a href="#">concerts</a></li>
                            <li><a href="#">performers</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="play_video">
                <a href="#">
                    <img src="~/Asset/image/add1.gif" alt="">
                </a>
            </div>
            <div class="play_video">
                <a href="#">
                    <img src="~/Asset/image/add2.gif" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newsModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="news_description"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


