@model IEnumerable<Soulful.Models.Album>
@foreach (var m in Model)
{
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="album">
            <div class="pic"><img class="d-block w-100" src="~/Asset/image/@m.Pic" alt=""></div>
            <div class="txt py-3">
                <h6 class="mb-0">@m.Album_Name</h6>
                <p class="mb-0">@m.Singer.Name</p>
            </div>
        </div>
    </div>
}