@model IEnumerable<Soulful.ViewModels.CardViewModel>
@foreach (var m in Model)
{
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="album" >
            <div class="pic"><img class="d-block w-100" src="@m.Pic" alt=""></div>
            <div class="txt py-3">
                <h6 class="mb-0">@m.Name</h6>
                <p class="mb-0">@m.Singer</p>
            </div>
        </div>
    </div>
   
}