@{
    ViewBag.Title = "Home Page";
}
@section topCSS{
    <link rel="stylesheet" href="~/Asset/css/Home.css" />
    <link href="~/Content/Slick/slick.css" rel="stylesheet" />
    <link href="~/Content/Slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Asset/css/modal.css" rel="stylesheet" />
}
@section endJS{
 
    <script src="~/Scripts/Slick/slick.js"></script>
    <script src="~/Asset/js/Slick.js"></script>


}
<!-- hero_image -->
<section class="slide_image">
    <div class="hero_image bg_image">
        <div class="hero_image_wrap bg_image"></div>
        <div class="container">
            <div class="row">
                <div class="hero-text w-100">
                    <h6 class="fadeInUp">Latest album</h6>
                    <h2 class="fadeInUp mb-3">Beyond Time</h2>
                    <a class="soul_btn mt-2" href="">Discover</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Albums -->
<section class="latest_albums">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-12">
                <p>See what’s new</p>
                <h2>Latest Albums</h2>
            </div>
        </div>
        <div class="row responsive">
            @Html.Partial("HomeCardPartialView")
        </div>
    </div>
</section>


<section class="broadcast bg_image">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 mt-auto">
                <div class="pic"><img class="d-block w-100" src="~/Asset/image/asset 12.jpeg" alt=""></div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="txt d-flex flex-wrap">
                    <div class="section_heading">
                        <p>See what’s new</p>
                        <h2>Buy What’s New</h2>
                    </div>
                    <p>
                        Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam
                        varius
                        rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget
                        lobortis
                        nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante.
                        Donec
                        in velit non elit pulvinar pellentesque et non eros.
                    </p>
                    <div class="song_play_area mt-auto">
                        <div class="song_name">
                            <p class="m-0">01. Main Hit Song</p>
                        </div>
                        <div class="audioplayer">
                            <audio preload="auto" controls style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                            <div class="audioplayer_playpause " title=""><a href="#"></a></div>
                            <div class="audioplayer_time audioplayer_time_current my-auto ml-3">00:00</div>
                            <div class="audioplayer_bar my-auto ">
                                <div class="audioplayer_bar_loaded"></div>
                                <div class="audioplayer_bar_played"></div>
                            </div>
                            <div class="audioplayer_time audioplayer_time_duration my-auto">…</div>
                            <div class="audioplayer_volume my-auto ml-1 d-flex">
                                <div class="audioplayer_volume_button" title=""><a href="#"></a></div>
                                <div class="audioplayer_volume_adjust ml-1 ">
                                    <div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- miscellaneous-area -->
<section class="miscellaneous_area">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-4">
                <div class="weeks_top_area mb-100">
                    <div class="section_heading text-left mb-50">
                        <p>See what’s new</p>
                        <h2>This week’s top</h2>
                    </div>

                    <div class="single_top_item d-flex">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <h6>Sam Smith</h6>
                            <p>Underground</p>
                        </div>
                    </div>

                    <div class="single_top_item d-flex">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <h6>Power Play</h6>
                            <p>In my mind</p>
                        </div>
                    </div>

                    <div class="single_top_item d-flex">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <h6>Cristinne Smith</h6>
                            <p>My Music</p>
                        </div>
                    </div>

                    <div class="single_top_item d-flex">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <h6>The Music Band</h6>
                            <p>Underground</p>
                        </div>
                    </div>

                    <div class="single_top_item d-flex">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <h6>Creative Lyrics</h6>
                            <p>Songs and stuff</p>
                        </div>
                    </div>

                    <div class="single_top_item d-flex">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <h6>The Culture</h6>
                            <p>Pop Songs</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="new_hits_area mb-100">
                    <div class="section_heading text-left mb-50">
                        <p>See what’s new</p>
                        <h2>New Hits</h2>
                    </div>

                    <div class="single_new_item d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/Asset/image/asset 19.jpeg" alt="">
                            </div>
                            <div class="content_">
                                <h6>Sam Smith</h6>
                                <p>Underground</p>
                            </div>
                        </div>
                        <div class="audioplayer">
                            <audio preload="auto" controls=""
                                   style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                            <div class="audioplayer_playpause" title=""><a href="#"></a></div>


                        </div>
                    </div>

                    <div class="single_new_item d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/Asset/image/asset 19.jpeg" alt="">
                            </div>
                            <div class="content_">
                                <h6>Power Play</h6>
                                <p>In my mind</p>
                            </div>
                        </div>
                        <div class="audioplayer">
                            <audio preload="auto" controls=""
                                   style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                            <div class="audioplayer_playpause" title=""><a href="#"></a></div>


                        </div>
                    </div>

                    <div class="single_new_item d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/Asset/image/asset 19.jpeg" alt="">
                            </div>
                            <div class="content_">
                                <h6>Cristinne Smith</h6>
                                <p>My Music</p>
                            </div>
                        </div>
                        <div class="audioplayer">
                            <audio preload="auto" controls=""
                                   style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                            <div class="audioplayer_playpause" title=""><a href="#"></a></div>


                        </div>
                    </div>

                    <div class="single_new_item d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/Asset/image/asset 19.jpeg" alt="">
                            </div>
                            <div class="content_">
                                <h6>The Music Band</h6>
                                <p>Underground</p>
                            </div>
                        </div>
                        <div class="audioplayer">
                            <audio preload="auto" controls=""
                                   style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                            <div class="audioplayer_playpause" title=""><a href="#"></a></div>


                        </div>
                    </div>

                    <div class="single_new_item d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/Asset/image/asset 19.jpeg" alt="">
                            </div>
                            <div class="content_">
                                <h6>Creative Lyrics</h6>
                                <p>Songs and stuff</p>
                            </div>
                        </div>
                        <div class="audioplayer">
                            <audio preload="auto" controls=""
                                   style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                            <div class="audioplayer_playpause" title=""><a href="#"></a></div>


                        </div>
                    </div>

                    <div class="single_new_item d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/Asset/image/asset 19.jpeg" alt="">
                            </div>
                            <div class="content_">
                                <h6>The Culture</h6>
                                <p>Pop Songs</p>
                            </div>
                        </div>
                        <div class="audioplayer">
                            <audio preload="auto" controls=""
                                   style="width: 0px; height: 0px; visibility: hidden;">
                                <source src="audio/dummy-audio.mp3">
                            </audio>
                            <div class="audioplayer_playpause" title=""><a href="#"></a></div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="popular_artists_area mb-100">
                    <div class="section_heading text-left mb-50">
                        <p>See what’s new</p>
                        <h2>Popular Artist</h2>
                    </div>

                    <div class="single_artists d-flex align-items-center">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <p>Sam Smith</p>
                        </div>
                    </div>

                    <div class="single_artists d-flex align-items-center">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <p>William Parker</p>
                        </div>
                    </div>

                    <div class="single_artists d-flex align-items-center">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <p>Jessica Walsh</p>
                        </div>
                    </div>

                    <div class="single_artists d-flex align-items-center">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <p>Tha Stoves</p>
                        </div>
                    </div>

                    <div class="single_artists d-flex align-items-center">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <p>DJ Ajay</p>
                        </div>
                    </div>

                    <div class="single_artists d-flex align-items-center">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <p>Radio Vibez</p>
                        </div>
                    </div>

                    <div class="single_artists d-flex align-items-center" data-wow-delay="400ms">
                        <div class="thumbnail">
                            <img src="~/Asset/image/asset 19.jpeg" alt="">
                        </div>
                        <div class="content_">
                            <p>Music 4u</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
