@{
    var currentCart = (List<Soulful.ViewModels.CartViewModel>)Session["Cart"];
}

@foreach (var m in currentCart)
{
    <tbody>

        <tr class="tbody-tr">
            <td class="w-25"><img class="w-50" src="~/Asset/image/@m.Pic"></td>
            <td>@m.Name</td>
            <td>@m.Count</td>
            <td>@m.Price</td>
            <td>@(m.Price*m.Count)</td>
            <td><i class="fas fa-trash-alt"></i></td>
        </tr>
    </tbody>
}
